.vContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.hContainer {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: stretch;
}

.calendar {
  width: 100%;
  height: 100%;
  flex-shrink: 1;
}
